*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#userDetilsForm{
    
    display: flex;
    /* gap: 10px; */
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
}
#userDetilsForm input{
    padding: 10px 100px;
    font-size: large;
    font-weight: 400;
}
#userDetilsForm button{
    padding: 10px 100px;
    font-size: large;
    font-weight: 400;
    display: block;
}
