*{padding: 0;
margin: 0;
box-sizing: border-box;
}
.mainContainer h1{
    text-align: center;
}
.container h3{
    text-align: center;
}
#lettersList {
    display: flex;
    gap: 5px;
    justify-content: center;
}
ul li {
    list-style: none;
}
.letter {
    font-size: 3rem;
    font-weight: 900;
}
#input {
    text-align: center;
}
.lives {
    color: cadetblue;
    font-size: xx-large;
}
.remLives{
    font-size: xx-large;
    color: green;
}